{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nexus Client</title>
    <link rel="stylesheet" href="{% static 'home/index.css' %}">
</head>
<body>
<div class="presentation">
    <h1>Nexus Client</h1>
    <h3>Statistiques professionnelles pour League of Legends</h3>
</div>
<hr>
<div class="download">
    <button class="dl"><p>Télécharger</p></button>
</div>
<hr>
<div class="images-content">
    <div class="images-grid">
        <img class="xayah" src="{% static 'img/game_splashart.jpg' %}" alt="">
        <img class="game" src="{% static 'img/xayah_splashart.jpg' %}" alt="">
        <img class="app" src="{% static 'img/app_example.png' %}" alt="">
        <img class="logo" src="{% static 'logos/lol_logo_large.png' %}" alt="">
    </div>
</div>
</body>
</html>